{
    "presets": ["next/babel"],
   "plugins": [
    [
      "@simbathesailor/babel-plugin-use-what-changed",
      {
        "active": false
      }
    ],
    "@babel/plugin-transform-class-static-block",
    "@babel/plugin-transform-private-methods"
  ]
  }
