{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "esmodules": true
          }
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-static-block",
    "@babel/plugin-transform-private-methods",
    [
      "@simbathesailor/babel-plugin-use-what-changed",
      {
        "active": false
      }
    ]
  ]
}
