@tailwind base;
@tailwind components;
@tailwind utilities;


* body{
    background-color: #1C1E26;
}

@layer components {
    .btn-primary {
      @apply rounded-full m-4 h-14 text-lg font-ppmori font-bold bg-gradient-to-r to-[#439FE7] from-[#2778E9] transform transition-transform hover:scale-[1.03];
    }

    .btn-primary-disabled {
    @apply rounded-full m-4 h-14 text-lg font-ppmori font-bold bg-white bg-opacity-5 transform transition-transform  hover:scale-[1.03];
    }

    .id-badge {
     @apply rounded-full m-4 h-14 text-lg font-ppmori font-bold card_background ;
    }
  }



@font-face {
    font-family: 'PP Mori';
    src: url('/fonts/PPMori-Regular.otf');
  }
  
  @font-face {
    font-family: 'Thicccboi-bold';
    src: url('/fonts/THICCCBOI-Bold.woff2');
  }
  
  @font-face {
    font-family: 'Thicccboi-medium';
    src: url('/fonts/THICCCBOI-Medium.woff2');
  }
  
  @font-face {
    font-family: 'Thicccboi-semibold';
    src: url('/fonts/THICCCBOI-SemiBold.woff2');
  }
  
  
  .card_background{
    border: 4px solid; 
    background: #2C303D;
    border: 1.705px solid #303441;
    box-shadow: 0px 3.20498px 70.50948px -12.81991px rgba(5, 13, 24, 0.20);
    border-radius: 24px;
  }

  .top_card_background{
    border: 4px solid; 
    background: #252831;
    border: 1.705px solid #303441;
    box-shadow: 0px 3.20498px 70.50948px -12.81991px rgba(5, 13, 24, 0.20);
    border-radius: 24px;
  }

  .section_bg {
    border: 4px solid; 
    background: #232735;
    border: 3.705px solid #303441;
    box-shadow: 0px 3.20498px 70.50948px -12.81991px rgba(5, 13, 24, 0.20);
    border-radius: 24px;
  }

  .paragraph{
    width: 100%;
    line-height: 100%;
    font-family: 'Thicccboi-regular';
    font-size: 20px;
    line-height: normal;
    @media (max-width: 1100px) {
        font-size: 16px;
    }
    color: #383C4D;
    text-align: left;
    justify-content: flex-start;
}

  
  .heading{
    width: 85%;
    font-family: 'Thicccboi-semibold';
    font-size: 60px;
    @media (max-width: 768px) {
        font-size: 26px;
    }
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: center;
  }
  
  .subheading{
    width: 85%;
    line-height: 100%;
    font-family: 'Thicccboi-semibold';
    font-size: 32px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: left;
    justify-content: flex-start;
  }